@page


@using Newtonsoft.Json
@model ChartPageModel
@ChartPageModel.ChartOne
@{
    ViewData["Title"] = "ChartPage";
}


<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Application</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }
    </style>
</head>


<!---------------------------Body-------------------------->
<body>

  



    <!---------------------------Place all charts here-------------------------->





    <div class="grid-container">
        <div class="grid-item">
            <canvas id="myChart"></canvas>
        </div>
        <div class="grid-item">
            <canvas id="stackedLine"></canvas>
        </div>
        <div class="grid-item">
            <canvas id="testLine"></canvas>
        </div>

        <div class="grid-item">
            <div id="map"></div>
        </div>
    </div>






    <div class="container">
        <main role="main" class="pb-3">

        </main>
    </div>
    <!---------------------------Footer-------------------------->
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Application - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>



    <script type="text/javascript">
        //I just want every row in the specific column to be selected and serialized
        //I also dont want to have to rewrtite this script for every chart model
        var data = @Html.Raw(JsonConvert.SerializeObject(this.Model));
        var city = data.City;
    </script>


    <!---------------------------Chart Scripts-------------------------->

    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            var uluru = { lat: -25.344, lng: 131.036 };
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('map'), { zoom: 4, center: uluru });
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({ position: uluru, map: map });
        }
    </script>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                    'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                datasets: [{
                    label: '# of Votes',
                    data: data,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>

    <script>
        var ctx = 'stackedLine';

        var stackedLine = new Chart(ctx, {
            type: 'line',
            data: [{
                x: 10,
                y: 20
            }, {
                x: 15,
                y: 10
            }],
            options: {
                responsive: true,
                maintainAspectRatio: true,
                scales: {
                    yAxes: [{
                        stacked: true
                    }]
                }
            }
        });
    </script>

    <script>
        var ctx = 'testLine';

        var testLine = new Chart(ctx, {
            type: 'line',
            data: [{
                x: 10,
                y: 20
            }, {
                x: 15,
                y: 10
            }],
            options: {
                responsive: true,
                maintainAspectRatio: true,
                scales: {
                    yAxes: [{
                        stacked: true
                    }]
                }
            }
        });
    </script>

    <script>
        var ctx = 'testLinetwo';

        var testLinetwo = new Chart(ctx, {
            type: 'line',
            data: [{
                x: 10,
                y: 20
            }, {
                x: 15,
                y: 10
            }],
            options: {
                responsive: true,
                maintainAspectRatio: true,
                scales: {
                    yAxes: [{
                        stacked: true
                    }]
                }
            }
        });
    </script>

    <!---------------------------Reference Scripts-------------------------->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Chart.js" asp-append-version="true"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuu_QlTSLJQaNXShxwuHtN3vEa4frY2Sg&callback=initMap">
    </script>
    <script src="~/js/Chart.js"></script>




</body>

</html>
