@page
@model ChartPageModel

@{
    ViewData["Title"] = "ChartPage";
}









<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Application</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
</head>


<!---------------------------Body-------------------------->
<body>





    <!---------------------------Place all charts here-------------------------->





    <div class="grid-container">
        <div class="grid-item">
            <canvas id="myChart"></canvas>
        </div>
    </div>






    <div class="container">
        <main role="main" class="pb-3">

        </main>
    </div>
    <!---------------------------Footer-------------------------->
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Application - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>





    <!---------------------------Chart Scripts-------------------------->
    <script>
         document.getElementById("GetDataLists").click();
    </script>

    <script>
        var ctx = document.getElementById('myChart').getContext('2d');

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                    'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>


    <!---------------------------Reference Scripts-------------------------->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Chart.js" asp-append-version="true"></script>
    <script src="~/js/Chart.js"></script>




</body>

</html>
