@page
@model Application.ChartsModel
@{
    ViewData["Title"] = "Charts";
}

<h1>Charts</h1>
@using WebMatrix.Data;
@using System.Web.Helpers;
@{
    var db = Database.Open("ApplicationContext-cbca0afc-a7e0-44c5-bb20-34ae8a99148a");
    var data = db.Query("SELECT Date, City FROM EntryInfo");
    var myChart = new Chart(width: 600, height: 400)
        .AddTitle("Area Chart")
        .AddSeries("Default",
        xValue: data, xField: "Date",
        yValues: data, yFields: "City")
        .Write();
}
<!DOCTYPE html>
<html>
<body>







</body>
</html>