

#container {
    position: relative;
    border: 1px solid gold;
    width: 800px;
    height: 400px;
}

.part {
    position: absolute;
}

#canvasBottom {
    left: 0;
    border: 2px solid red;
}

#canvasLeft {
    left: 0;
    border: 1px solid green;
}

#canvasRight {
    left: 300px;
    border: 1px solid blue;
}

; 